<%= form_for(@slidshow) do |f| %>
  <% if @slidshow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slidshow.errors.count, "error") %> prohibited this slidshow from being saved:</h2>

      <ul>
      <% @slidshow.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
